:root{
    --color_primary_dark: #000000;
    --color_primary_light: #FFFFFF;
    --color_secondary_light:#2B7FFF;
    --color_secondary_dark:#011C44;
}


$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;