.link{
    color: var(--color_secondary_dark);
    text-decoration: none;
    &:hover{
        color: var(--color_secondary_light);
        
    }
}
.link_footer{
    color: var(--color_primary_light);
    text-decoration: none;
    &:hover{
        color: var(--color_secondary_light);
        text-decoration: none;
    }
}

