
.backdrop{
        position: fixed;
        z-index: 3;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color:rgba(0, 0, 0, 0.5);
        padding: 20px 0;
        transition: opacity 1s, visibility 1s;
        
        &.is-hidden{
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
    }
.modal{
        position: relative;
        width: 100%;
        max-width: 400px;
        height: 100%;
        max-height: 560px;
        background-color: #011C44;
        border-radius: 32px;
        padding: 48px;
        overflow-y: auto;
        // @media screen and (min-width: $bp-desktop) {
        //     padding: 128px;
        // }

        &__cross-button{
            border: none;
            background-color: transparent;
            position: absolute;
            top: 20px;
            right: 20px;
            color: white;
            cursor: pointer;
            &:hover{
                color: var(--color_secondary_light);
            }
            }
        &__form-title{
                margin-bottom: 8px;
                color: white;
                text-align: center;
                font-size: 40px;
                margin-top: 0;
            }   
        &__form-instruction{
            position: relative;
            margin: 0 auto 30px;
            text-align: center;
            color: white;
            font-size: 18px;} 

    }


.contact-form{
    display: flex;
    flex-direction: column;
}


.form-field{
        margin-bottom: 32px;

        &__input{
            padding: 16px 42px;
            width: 310px;
            border-radius: 32px;
            border: 1px solid white;  
            // background-color: transparent;
            font-size: 16px;
            line-height: 1.17;
            &:focus{
                border-color:gray; 
                outline: none; 
                background-color: white;
            }
            &::placeholder{
                color: black;
                font-size: 16px;
                line-height: 1.17;
            }

        
        }
        &__label{
            display: block;
        }
        &__terms{
            margin: 0 auto;
            max-width: 220px;
            font-size: 12px;
            text-align: center;
            color: #747272;
    
        }
        &__terms-link{
            color:white;
        }
        &:focus::placeholder{
            color: var(--color_primarydark);
        }
        &__button{
            
            margin: 0 auto 24px;
        
        }


    }

    
   
 
    
   