.howtofind_section{
    padding-top: 0;
    position: relative;
    padding-bottom: 0;
    @media screen and (min-width: $bp-desktop){
        padding-bottom: 40px;
    }
    &__container{
        display: flex;
        justify-content: center;
       }
       &__-container{
        max-width: 1059px;
    }
    &__howtofind{
        display: flex;
        gap: 40px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
        margin-bottom: 265px;

        @media screen and (min-width: $bp-tablet){
            margin-bottom: auto;
        }
        @media screen and (min-width: $bp-desktop){
            flex-wrap: nowrap;
            justify-content: space-between;
            
        }
    }
    &__text{
        background-color: #011F4A;
        border-radius: 32px;
        color: #FFFFFF;
        max-width: 422px;
        max-height: 482px;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: top;
        justify-content: center;
        gap: 40px;
        padding: 4px 50px;
        
       
    }
        &__map{
            max-width: 505px;
            width: 100%;
            position: absolute;
            border: none;
            flex-shrink: 0;
            height: 244px;
            // width: 522px;
           
            bottom: 0;
            @media screen and (min-width: $bp-tablet){
                position: static;
                width: 505px;
                height: 481px;
            }
        @media screen and (min-width: $bp-desktop){
            width: 605px;
            height: 481px;
        }
       
    }
    &__form-title{
        font-size: 22px;
        text-align: center;
        font-weight: 600;
        max-width: 280px;
        margin: 48px 52px 0;
        @media screen and (min-width: $bp-desktop){
           
        }
    
    }
    &__form-field{
        margin-bottom: 32px;
        text-align: center;
       
    }
    &__form-label{
        display: block;
     
    
    }
    &__form_button{
        margin: 20px;
    }
    &__input{
        padding: 16px 15px;
        width: 100%;
        border-radius: 32px;
        border: 1px solid #A18268;  
        background-color: white;
        font-size: 16px;
        line-height: 1.17;
        &::placeholder{
            color:black;
            font-size: 16px;
            line-height: 1.17;}
    
    }
    &__approve{
        font-size: 12px;
        color: #747272;
        max-width: 213px;
        margin: 0 auto;
        text-align: center;
    }
}
