.why-section{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(241,243,255,1) 43%, rgba(241,243,255,1) 100%);
    // background-color: #2B7FFF33;
    z-index: -1;
    position: relative;
    padding-bottom: 0;

    // &__waves{
    //     position: absolute;
    //     left: -34px;
    //     top: -94px;
    //     rotate: 180deg;
    // }
    &__title{
        max-width: 450px;
        margin-top: 0;
        @media screen and (min-width:$bp-desktop){
            margin-top: 53px; 
        }
    }

    &__reasons{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding-left: 0;
        flex-wrap: wrap;
        
    }
    &__reason{
        border: 1px solid lightgray;
        border-radius: 32px;
        height: 181px;
        width: 316px;
        display: flex;
        align-items: center;
        padding: 24px 32px;
        background-color: white;

        @media screen and (min-width:$bp-desktop){
            margin: 0 auto;
        }
    }
    &__reasons-container{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 32px;
        padding: 24px, 32px;
    
    }
    &__reason-article{

        width: 252px;
        text-align: center;
    
    }
    &__reason-text{
        margin: 0;
    }
}

.wave{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    fill: var(--color_primary_white);
}

